@font-face {
    font-family: CaviarDreams;
    src: url(../fonts/CaviarDreams/CaviarDreams.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(../fonts/coolvetica/coolvetica\ rg.otf);
}

@font-face {
    font-family: Gilgan;
    src: url(../fonts/gilgan/Gilgan.otf);
}

@font-face {
    font-family: Neowriter;
    src: url(../fonts/neo_writer/Neo-Writer.ttf);
}

@font-face {
    font-family: Nixieone;
    src: url(../fonts/nixie_one/NixieOne.ttf);
}

@font-face {
    font-family: Callheart;
    src: url(../fonts/callheart/Callheart.otf);
}

.navbar-brand {
    font-family: Callheart;
    font-size: 1.8em;
}

.nav-item, .card-title, p {
    font-family: Nixieone;
}

.nav-item, #intro, .card-title {
    font-weight: bold;
}

#avatar {
    max-width: 300px;
}

/* .text-wrapper {
    padding: 50px;
    background-color: #C2CFC9DD;
}

.card-img {
    max-height: 300px;
    overflow: hidden;
} */

/* #example {
    width: 300px;
    height: 300px;
    background-color: darkolivegreen;
} */