@font-face {
    font-family: CaviarDreams;
    src: url(../fonts/CaviarDreams/CaviarDreams.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(../fonts/coolvetica/coolvetica\ rg.otf);
}

@font-face {
    font-family: Gilgan;
    src: url(../fonts/gilgan/Gilgan.otf);
}

.navbar-brand {
    /* find another font */
    font-family: Coolvetica; 
}

.nav-item {
    font-family: Coolvetica;
}

p {
    font-family: Gilgan;
}

#intro {
    font-weight: bold;
}

#avatar {
    max-width: 300px;
}