@font-face {
    font-family: Nixieone;
    src: url(../fonts/nixie_one/NixieOne.ttf);
}

@font-face {
    font-family: Callheart;
    src: url(../fonts/callheart/Callheart.otf);
}

.navbar {
    background-color: #e5decf;
}

.navbar-brand {
    font-family: Callheart;
    font-size: 1.8em;
}

.nav-item, .card-title, p, li {
    font-family: Nixieone;
}

.nav-item, #intro, .card-title, #address {
    font-weight: bold;
}

#avatar {
    max-width: 300px;
}

.jumbotron, #skills, #skills .list-group-item {
    background-color: #e5decf;
}

h2 {
    font-family: Nixieone;
    font-weight: bold;
}

.jumbotron, #projects, #skills {
    margin-bottom: 50px;
}

#skills {
    padding-top: 50px;
    padding-bottom: 50px;
}

#projects {
    padding-left: 30px;
    padding-right: 30px;
}

footer div p {
    font-size: 0.8em;
}

a {
    color: black;
}

a:hover {
    font-style: italic;
    color: black;
    text-decoration: none;
}

.fa {
    font-size: 30px;
    background-color: #e5decf;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    box-shadow: 2px 2px 5px grey;
    font-style: normal;
}

/* imgs are b&w when not hovered on (not working)
#projects img {
    filter: grayscale(100%);
}

.card:hover #projects img {
    filter: none;
} */

